body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.logo{
  color: #14b8a6;
}
.header{
  background-color: #181818;
 
}
.title button{
border: 1px solid #14b8a6;
color: #14b8a6;
}
.product-card img{
  width: 300px;
  height: 300px;
}
.product-card{
  height: 450px;
}
.subscribe{
  background: #14b8a6;
  align-items: center;
  
}
.subscripe-input{
  width: 550px;
}
.contact{
  color: gray;
}
.list li{
color: gray;
}
.copyright{
  color: gray;
}
